argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref 
bcrypt==4.0.1
certifi==2022.9.24
cffi==1.15.1
django 
gunicorn==20.1.0
Pillow==9.3.0
pycparser==2.21
sqlparse
tzdata 
whitenoise==6.2.0
wincertstore==0.2
