
@media only screen and (min-width: 600px) {
    nav{
        background-color: blanchedalmond;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        width: auto;
        height: 8vh;
        display: flex;
    }
    
    nav ul {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    
    main {
        margin-top: 8vh;
    }
  }

nav{
    background-color: blanchedalmond;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: auto;
    height: 8vh;
    display: flex;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

main {
    margin-top: 8vh;
}